.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    width: 100%;
}

.formArea {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #151515;
    height: auto;
    width: 100%;
    border: 2px solid #333;
    border-radius: 20px;
    box-shadow: 3px 4px 0px 1px #000;
    padding: 20px;
    color: white;
}

.title {
    color: #fff;
    font-weight: 900;
    font-size: 1.5em;
    margin-top: 20px;
    margin-bottom: 20px;
}

.subTitle {
    font-weight: 600;
    margin: 5px 0;
    color: #ccc;
    align-self: flex-start;
}

.formGroup {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    margin: 10px 0;
    width: 100%;
}

.formStyle {
    outline: none;
    border: 2px solid #333;
    box-shadow: 3px 4px 0px 1px #000;
    width: 100%;
    padding: 12px 10px;
    border-radius: 4px;
    font-size: 15px;
    background-color: #222;
    color: white;
    transition: all 0.2s ease;
}

.formStyle:focus {
    transform: translateY(4px);
    box-shadow: 1px 2px 0px 0px #000;
    border-color: #ff9966;
}

.btn {
    padding: 15px;
    margin: 25px 0px;
    width: 100%;
    font-size: 15px;
    background: #ff9966;
    border-radius: 10px;
    font-weight: 800;
    box-shadow: 3px 3px 0px 0px #000;
    border: none;
    cursor: pointer;
    color: #151515;
    transition: all 0.2s ease;
}

.btn:hover {
    opacity: .9;
}

.btn:active {
    transform: translateY(2px);
    box-shadow: 1px 1px 0px 0px #000;
}

.btn:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}